/*main page*/
@font-face {
    font-family:"Minecraft.ttf";
    src: url('../fonts/Minecraft.ttf') format('truetype');
}

body {
    background-color:black;
    color: white;
    font-family:"Minecraft";
}
.bordered {
    border: 3px solid black;
}

a {
    color:lightblue;
}

a:hover {
    color:white;
}
