body {
    background-color: rgb(65, 65, 65);
    margin: 0;
    height: 100vh;
}

#body2 {
    background-color: rgb(245,245,220);
    color: black;
    font-family:monospace;
    width: 28.25vw;
    height: 100vh;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;

    outline: 4px solid black;
}

#head {
    padding-left: 5px;
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:gray ;
    -webkit-text-stroke: 0.75px rgb(15,15,15);
}
#modideas {
    width: 175px;
    margin-bottom: 5px;
}
#documentation {
    width: 225px;
    margin-bottom: 5px;
}

#download {
    height: 75px;
    width: 150px;
    margin-bottom: 5px;
}

.link {
    
    border: 2px solid gray;
    border-radius: 10px;
    text-align: center;

    background-color: black; 
    color: rgb(157, 230, 255);

    font-size: 30px;
    cursor: pointer;
}

.hovered {
    color: aqua;
    text-decoration: underline;
}
